In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df1=pd.read_csv('Bengaluru_House_Data.csv')

In [3]:
df1.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [4]:
df2 =df1.drop(['availability','society','balcony','area_type'],axis='columns')

In [5]:
df2.shape

(13320, 5)

In [6]:
df3=df2.dropna()

In [7]:
df3.isnull().sum()

location      0
size          0
total_sqft    0
bath          0
price         0
dtype: int64

In [8]:
df3

                       location       size total_sqft  bath   price
0      Electronic City Phase II      2 BHK       1056   2.0   39.07
1              Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2                   Uttarahalli      3 BHK       1440   2.0   62.00
3            Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                      Kothanur      2 BHK       1200   2.0   51.00
...                         ...        ...        ...   ...     ...
13315                Whitefield  5 Bedroom       3453   4.0  231.00
13316             Richards Town      4 BHK       3600   5.0  400.00
13317     Raja Rajeshwari Nagar      2 BHK       1141   2.0   60.00
13318           Padmanabhanagar      4 BHK       4689   4.0  488.00
13319              Doddathoguru      1 BHK        550   1.0   17.00

[13246 rows x 5 columns]

In [9]:

def getbhk(s):
    n=s.split()[0]
    return int(n)
df3['bhk'] = df3['size'].apply(lambda x:getbhk(x))

C:\Users\LAPTOP\AppData\Local\Temp\ipykernel_1600\512757848.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['bhk'] = df3['size'].apply(lambda x:getbhk(x))

In [10]:
df4=df3.drop(['size'] ,axis=1)

In [11]:
df4.bhk.unique()

array([ 2,  4,  3,  6,  1,  8,  7,  5, 11,  9, 27, 10, 19, 16, 43, 14, 12,
       13, 18], dtype=int64)

In [12]:
df4.total_sqft.unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [13]:
def isfloat(x):
    try:
        float(x)
    except:
        return False
    return True

In [14]:
df4[~df4['total_sqft'].apply(isfloat)].total_sqft.unique()

array(['2100 - 2850', '3067 - 8156', '1042 - 1105', '1145 - 1340',
       '1015 - 1540', '34.46Sq. Meter', '1195 - 1440', '4125Perch',
       '1120 - 1145', '3090 - 5002', '1160 - 1195', '1000Sq. Meter',
       '1115 - 1130', '1100Sq. Yards', '520 - 645', '1000 - 1285',
       '650 - 665', '633 - 666', '5.31Acres', '30Acres', '1445 - 1455',
       '884 - 1116', '850 - 1093', '716Sq. Meter', '547.34 - 827.31',
       '580 - 650', '3425 - 3435', '1804 - 2273', '3630 - 3800',
       '4000 - 5249', '1500Sq. Meter', '142.61Sq. Meter', '1574Sq. Yards',
       '1250 - 1305', '670 - 980', '1005.03 - 1252.49', '1004 - 1204',
       '361.33Sq. Yards', '645 - 936', '2710 - 3360', '2830 - 2882',
       '596 - 804', '1255 - 1863', '1300 - 1405', '117Sq. Yards',
       '934 - 1437', '980 - 1030', '2249.81 - 4112.19', '1070 - 1315',
       '3040Sq. Meter', '500Sq. Yards', '2806 - 3019', '613 - 648',
       '704 - 730', '1210 - 1477', '3369 - 3464', '1125 - 1500',
       '167Sq. Meter', '1076 - 1199', '381 - 535', '524 - 894',
       '540 - 670', '315Sq. Yards', '2725 - 3250', '888 - 1290',
       '660 - 700', '385 - 440', '770 - 841', '3Cents', '188.89Sq. Yards',
       '1469 - 1766', '204Sq. Meter', '1255 - 1350', '870 - 1080',
       '45Sq. Yards', '133.3Sq. Yards', '2580 - 2591', '2563 - 2733',
       '605 - 624', '1349 - 3324', '78.03Sq. Meter', '3300 - 3335',
       '1180 - 1630', '1365 - 1700', '122Sq. Yards', '84.53Sq. Meter',
       '2.09Acres', '981 - 1249', '1565 - 1595', '24Guntha',
       '1270 - 1275', '840 - 1010', '697Sq. Meter', '655 - 742',
       '1408 - 1455', '942 - 1117', '598 - 958', '1500Cents',
       '132Sq. Yards', '1010 - 1300', '2Acres', '1450 - 1950',
       '1100Sq. Meter', '15Acres', '763 - 805', '3307 - 3464',
       '1.26Acres', '620 - 934', '2462 - 2467', '540 - 740',
       '3508 - 4201', '4900 - 4940', '755 - 770', '664 - 722',
       '151.11Sq. Yards', '596 - 861', '615 - 985', '540 - 565',
       '750 - 800', '1660 - 1805', '1079 - 1183', '2800 - 2870',
       '1230 - 1290', '943 - 1220', '2041 - 2090', '527 - 639',
       '1Grounds', '1160 - 1315', '706 - 716', '2940Sq. Yards',
       '45.06Sq. Meter', '799 - 803', '2470 - 2790', '783 - 943',
       '4500 - 5540', '1255 - 1375', '610 - 615', '854 - 960',
       '2650 - 2990', '1.25Acres', '86.72Sq. Meter', '1230 - 1490',
       '660 - 780', '1150 - 1194', '684 - 810', '1510 - 1670',
       '1550 - 1590', '1235 - 1410', '38Guntha', '929 - 1078',
       '2150 - 2225', '1520 - 1759', '629 - 1026', '1215 - 1495',
       '6Acres', '1140 - 1250', '2400 - 2600', '1052 - 1322',
       '5666 - 5669', '712 - 938', '1783 - 1878', '120Sq. Yards',
       '24Sq. Meter', '2528 - 3188', '650 - 760', '1400 - 1421',
       '4000 - 4450', '142.84Sq. Meter', '300Sq. Yards', '1437 - 1629',
       '850 - 1060', '1200 - 1470', '1133 - 1384'], dtype=object)

In [15]:
def conv_sqft(x):
    s=x.split('-')
    if(len(s)==2):
        return float(float(s[0])+float(s[1]))/2
    try:
        return float(x)
    except:
        return None

In [16]:
conv_sqft('5677 - 7899')

6788.0

In [17]:
df4['area'] = df4['total_sqft'].apply(conv_sqft)
df5=df4.drop(['total_sqft'],axis=1)

In [18]:
df5

                       location  bath   price  bhk    area
0      Electronic City Phase II   2.0   39.07    2  1056.0
1              Chikka Tirupathi   5.0  120.00    4  2600.0
2                   Uttarahalli   2.0   62.00    3  1440.0
3            Lingadheeranahalli   3.0   95.00    3  1521.0
4                      Kothanur   2.0   51.00    2  1200.0
...                         ...   ...     ...  ...     ...
13315                Whitefield   4.0  231.00    5  3453.0
13316             Richards Town   5.0  400.00    4  3600.0
13317     Raja Rajeshwari Nagar   2.0   60.00    2  1141.0
13318           Padmanabhanagar   4.0  488.00    4  4689.0
13319              Doddathoguru   1.0   17.00    1   550.0

[13246 rows x 5 columns]

In [19]:
df5.loc[30]

location    Yelahanka
bath              4.0
price           186.0
bhk                 4
area           2475.0
Name: 30, dtype: object

In [20]:
df5.bath.unique()

array([ 2.,  5.,  3.,  4.,  6.,  1.,  9.,  8.,  7., 11., 10., 14., 27.,
       12., 16., 40., 15., 13., 18.])

In [21]:
df5.price.unique()

array([ 39.07, 120.  ,  62.  , ...,  40.14, 231.  , 488.  ])

In [22]:
df5.isnull().sum()

location     0
bath         0
price        0
bhk          0
area        46
dtype: int64

In [23]:
df5

                       location  bath   price  bhk    area
0      Electronic City Phase II   2.0   39.07    2  1056.0
1              Chikka Tirupathi   5.0  120.00    4  2600.0
2                   Uttarahalli   2.0   62.00    3  1440.0
3            Lingadheeranahalli   3.0   95.00    3  1521.0
4                      Kothanur   2.0   51.00    2  1200.0
...                         ...   ...     ...  ...     ...
13315                Whitefield   4.0  231.00    5  3453.0
13316             Richards Town   5.0  400.00    4  3600.0
13317     Raja Rajeshwari Nagar   2.0   60.00    2  1141.0
13318           Padmanabhanagar   4.0  488.00    4  4689.0
13319              Doddathoguru   1.0   17.00    1   550.0

[13246 rows x 5 columns]

In [24]:
df5['price/sq.feet'] = df5['price']*100000/df5['area']
df5.head()

                   location  bath   price  bhk    area  price/sq.feet
0  Electronic City Phase II   2.0   39.07    2  1056.0    3699.810606
1          Chikka Tirupathi   5.0  120.00    4  2600.0    4615.384615
2               Uttarahalli   2.0   62.00    3  1440.0    4305.555556
3        Lingadheeranahalli   3.0   95.00    3  1521.0    6245.890861
4                  Kothanur   2.0   51.00    2  1200.0    4250.000000

In [25]:
len(df5.location.unique())

1304

In [26]:
df5['location'] = df5['location'].apply(lambda x: x.strip())
stats=df5.groupby('location')['location'].agg('count').sort_values(ascending=False)

In [27]:
len(stats[stats <= 10])

1052

In [28]:
stats_less_ten=stats[stats <= 10]

In [29]:
len(stats_less_ten)

1052

In [30]:
df5.location=df5['location'].apply(lambda x:'other' if x in stats_less_ten else x.strip())

In [31]:
len(df5['location'].unique())

242

In [32]:
df5.head(20)

                    location  bath   price  bhk    area  price/sq.feet
0   Electronic City Phase II   2.0   39.07    2  1056.0    3699.810606
1           Chikka Tirupathi   5.0  120.00    4  2600.0    4615.384615
2                Uttarahalli   2.0   62.00    3  1440.0    4305.555556
3         Lingadheeranahalli   3.0   95.00    3  1521.0    6245.890861
4                   Kothanur   2.0   51.00    2  1200.0    4250.000000
5                 Whitefield   2.0   38.00    2  1170.0    3247.863248
6           Old Airport Road   4.0  204.00    4  2732.0    7467.057101
7               Rajaji Nagar   4.0  600.00    4  3300.0   18181.818182
8               Marathahalli   3.0   63.25    3  1310.0    4828.244275
9                      other   6.0  370.00    6  1020.0   36274.509804
10                Whitefield   2.0   70.00    3  1800.0    3888.888889
11                Whitefield   5.0  295.00    4  2785.0   10592.459605
12        7th Phase JP Nagar   2.0   38.00    2  1000.0    3800.000000
13                 Gottigere   2.0   40.00    2  1100.0    3636.363636
14                  Sarjapur   3.0  148.00    3  2250.0    6577.777778
15               Mysore Road   2.0   73.50    2  1175.0    6255.319149
16             Bisuvanahalli   3.0   48.00    3  1180.0    4067.796610
17     Raja Rajeshwari Nagar   3.0   60.00    3  1540.0    3896.103896
18                     other   4.0  290.00    3  2770.0   10469.314079
19                     other   2.0   48.00    2  1100.0    4363.636364

In [33]:
df6 = df5[~(df5.area/df5.bhk < 300)]

In [34]:
df6.shape

(12502, 6)

In [35]:
def remove_pps_outlier(df):
    df_out=pd.DataFrame()
    for key,subdf in df.groupby('location'):
        m=np.mean(subdf['price/sq.feet'])
        st=np.std(subdf['price/sq.feet'])
        reduced_df  = subdf[(subdf['price/sq.feet'] > (m-st)) & (subdf['price/sq.feet'] <= (m+st))]
        df_out = pd.concat([df_out,reduced_df],ignore_index=True)
    return df_out

In [36]:
df7=remove_pps_outlier(df6)

In [37]:
len(df7.location.unique())

242

In [38]:
df7.shape

(10241, 6)

In [39]:
def remove_bhk_outliers(df):
    exclude_indices = np.array([])
    for location, location_df in df.groupby('location'):
        bhk_stats={}
        for bhk,bhk_df in location_df.groupby('bhk'):
            bhk_stats[bhk] = {
                'mean': np.mean(bhk_df['price/sq.feet']),
                'std': np.std(bhk_df['price/sq.feet']),
                'count': bhk_df.shape[0]
            }
        for bhk, bhk_df in location_df.groupby('bhk'):
            stats = bhk_stats.get(bhk-1)
            if stats and stats['count']>5:
                exclude_indices = np.append(exclude_indices,bhk_df[bhk_df['price/sq.feet']<(stats['mean'])].index.values)
    return df.drop(exclude_indices,axis='index')

In [40]:
df8 = remove_bhk_outliers(df7)
df8.shape

(7329, 6)

In [45]:
df9 = df8.drop(['price/sq.feet'],axis=1)

In [92]:
df9=df9[df9.bath <df9.bhk+2]

In [93]:
df9.shape

(7251, 5)

In [94]:
dummies = pd.get_dummies(df9.location)

In [95]:
dummies

,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,5th Block Hbr Layout,5th Phase JP Nagar,6th Phase JP Nagar,7th Phase JP Nagar,8th Phase JP Nagar,9th Phase JP Nagar,...,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur,other
0,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10232,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
10233,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
10236,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
10237,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
10240,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

In [96]:
df10 = pd.concat([df9,dummies.drop(['other'],axis = 1)],axis=1)
df10

,location,bath,price,bhk,area,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,5th Block Hbr Layout,...,Vijayanagar,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur
0,1st Block Jayanagar,4.0,428.0,4,2850.0,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,1st Block Jayanagar,3.0,194.0,3,1630.0,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,1st Block Jayanagar,2.0,235.0,3,1875.0,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,1st Block Jayanagar,2.0,130.0,3,1200.0,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,1st Block Jayanagar,2.0,148.0,2,1235.0,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10232,other,2.0,70.0,2,1200.0,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10233,other,1.0,200.0,1,1800.0,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10236,other,2.0,110.0,2,1353.0,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10237,other,1.0,26.0,1,812.0,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10240,other,5.0,400.0,4,3600.0,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [97]:
df11=df10.drop('location',axis=1)
df11

,bath,price,bhk,area,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,5th Block Hbr Layout,5th Phase JP Nagar,...,Vijayanagar,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur
0,4.0,428.0,4,2850.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,3.0,194.0,3,1630.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,2.0,235.0,3,1875.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,2.0,130.0,3,1200.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,2.0,148.0,2,1235.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10232,2.0,70.0,2,1200.0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10233,1.0,200.0,1,1800.0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10236,2.0,110.0,2,1353.0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10237,1.0,26.0,1,812.0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10240,5.0,400.0,4,3600.0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [98]:
df11.shape

(7251, 245)

In [99]:
X= df11.drop('price',axis=1)
y=df11['price']

In [100]:
from sklearn.model_selection import train_test_split

In [101]:
X_train,X_test, y_train,y_test = train_test_split(X,y,test_size=0.2, random_state=10)

In [102]:
X_train

,bath,bhk,area,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,5th Block Hbr Layout,5th Phase JP Nagar,6th Phase JP Nagar,...,Vijayanagar,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur
6646,3.0,3,1564.0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7353,4.0,4,3200.0,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
7622,4.0,4,2444.0,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
1840,2.0,2,1107.0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7652,2.0,2,1400.0,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1424,2.0,2,1139.0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4293,2.0,2,1495.0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1623,2.0,2,950.0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5720,8.0,8,6000.0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1562,2.0,2,900.0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [103]:
from sklearn.linear_model import LinearRegression

In [104]:
lr_mdl = LinearRegression()

In [105]:
lr_mdl.fit(X_train,y_train)

LinearRegression()

In [106]:
lr_mdl.score(X_test,y_test)

0.8452277697874568

In [107]:
def predict_price(location,bath,bhk,area):
    loc = np.where(X.columns==location)[0][0]

    x=np.zeros(len(X.columns))
    x[0] = bath
    x[1] = bhk
    x[2] = area
    if(loc >= 0):
        x[loc]=1
    return lr_mdl.predict([x])[0]

In [108]:
predict_price('1st Phase JP Nagar',2,2,1000)

C:\Users\LAPTOP\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

83.49904676992657

In [117]:
predict_price('1st Phase JP Nagar',3,3,1000).round(0)

C:\Users\LAPTOP\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

87.0

In [115]:
predict_price('1st Phase JP Nagar',3,3,2000).round(2)

C:\Users\LAPTOP\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

166.22

In [113]:
import pickle

In [114]:
with open('mdl.pickle','wb') as f:
    pickle.dump(lr_mdl,f)

In [120]:
import json
columns = {
    'data_columns' : [col.lower() for col in X.columns]
}

with open ('locations.json','w') as f:
    f.write(json.dumps(columns))